.landing-page__container{
  width: 100vw;
  min-height: 100vh;
  background-color: #f0efef;
}

.block{
  width: 100%;
  height: 750px;
  background: linear-gradient(150deg,#233781 56%, #047d96 67%,#7aa3f0 88%);
  transform: skewY(-12deg);
  transform-origin: 0;
  position: absolute;
  top:0;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.block span{
  height: 190px;
  position: absolute;

}

.block span:nth-child(1){
  width:33.3%;
  width:calc(100%/3);
  left:-16.66666%;
  left:calc(calc(calc(100%/3)/2)*-1);
  background: #243c92;


}

.block span:nth-child(2){
  width: 33.333333%;
  width: calc(100%/3);
  top:0;
  left:16.66666%;
  left:calc(calc(100%/3)/2);
  right:auto;
  background: #243c92d6;


}

.block span:nth-child(3){
  width:33.333333%;
  width: calc(100%/3);
  left:49.99999%;
  left:calc(calc(calc(100%/3)/2)+calc(100% / 3));
  bottom:auto;
  background: #263c8d;
}

.block span:nth-child(4){
  width:33.33333%;
  width:calc(100% / 3);
  bottom:0;
  background:#23378178;
}


.text{
  position: relative;
  height:650px;
  display: flex;
  flex-direction: column;
  /* margin: -140px 0 0 380px; */
  justify-content: center;
  color:#fff;
  max-width: 1024px;
}

.text h1{
  font-size:40px;
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.text p {
  color:#d9fcff;
  font-size:20px;
  max-width: 70%;
  font-size: 17px;
  line-height: 28px;
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;

}

@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}



.button-area{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 320px;
}


.button-area a{
  background: #03e9f496;
  border-radius: 10px;
  padding: 1em 1.6em;
  font-size: 0.9em;
  margin: 4em 1em 0 0;
  color: #fff;
  text-decoration: none;
  flex-grow: 1;
  text-align:center;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: .5s;
}
.button-area a:hover{
  background-color: #233781;
}
.img-wrapper-tablet img{
  width: 530px;
  height: auto;

}
.img-wrapper-tablet{
  position: absolute;
  border-radius: 38px;
  opacity: 0;
  top:390px;
  /* right: 100px; */
  transform: translateY(100px) rotate(-12deg);
  padding: 8px 38px;
  box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(173,186,204,0.25),0 2px 6px rgba(0,21,64,0.14),0 10px 20px rgba(0,21,64,0.5);
  animation: up 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;


}
@keyframes up {
  0%{
    transform: translateY(100px) rotate(-12deg);
    opacity: 0;

  }
  100%{
    transform: translateY(0) rotate(-12deg);
    opacity: 1;

  }
}


.active1{
 filter: blur(20px);
 pointer-events: none;
 user-select: none;
}

.popup{
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup2{
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.active2{
  top:10%;
  visibility: visible ;
  opacity: 1;
  transition: 0.5s;
}

.home-cover{
  /* padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap; */

  /* grid-template-columns: repeat(2,1fr) */
}
.content-container{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-content{
  padding-left: 9rem;
  /* margin-top: 0; */
}
.right-content{
  padding-right: 70rem;
}
.layout-container-content{
  /* margin-top: 15rem; */
  padding: 2rem;
}
@media screen and (max-width:1163px){
  .content-container{

    flex-direction: column;

  }
  .img-wrapper-tablet{

    top:498px;

  }



}
@media screen and (max-width:774px){

  .img-wrapper-tablet img{
    width: 447px;
    height: auto;

  }
  .img-wrapper-tablet{
    top:564px;
    margin-bottom: 2rem;
  }



}

@media screen and (max-width:679px){

  .img-wrapper-tablet img{
    width: 347px;
    height: auto;


  }
  .img-wrapper-tablet{
    top:664px;}

}
